<% content_for :title, "New Study Group" %>

<h1 class="h2 mb-3">New Study Group</h1>

<div class="card">
  <div class="card-body">
    <%= render "form", study_group: @study_group %>
  </div>
</div>
